html, body, nav, ul, p {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: sans-serif;
}

ul {
	list-style: none;
}

body {
    background-color: #000;
    color: #FFF;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
	color: #FFF;
}