::-webkit-scrollbar {
	display: none;
}

html, body, nav, ul, p, form {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

ul {
	list-style: none;
}

button, input {
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
	outline: none;
	cursor: pointer;
}