main {
    display: grid;
    grid-template-columns: 20% 60%;
    grid-template-rows: 100%;
    grid-gap: 8px;
    padding: 8px;
}


header {
    height: 48px;
    padding: 8px;
}

footer {
    height: 48px;
    padding: 11px 24px 7px 15px;
}

.nav {
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.space_between {
    justify-content: space-between;
}