.row {
    display: flex;
    flex-direction: row;
}

.center {
    display: flex;
    align-items: center;
}

.space_between {
    justify-content: space-between;
}

.overflow {
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.padding_cookies {
    display: flex;
    align-items: end;
}

.full_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_icon {
    margin-right: -48px;
    z-index: 1;
}

.browse_border {
    margin-left: -53px;
}

.chards_grid {
    display: grid;
    height: 300px;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    column-gap: 24px;
    row-gap: 1000px;
    overflow-y: hidden;
}

.language_bottom_grid {
    display: grid;
    grid-template-rows: 50% 50%;
}

.language_bottom {
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.show_all {
    display: flex;
    align-items: end;
}

.play {
    margin-right: 8px;
}

.play_position {
    width: 100%;
    margin-top: -48px;
    display: flex;
    justify-content: end;
}

.section_color {
    margin-bottom: -241px;
    margin-left: -18px;
    margin-top: -15px;
}